@import "./variables";

.card {
    position: relative;
    width: 24%;

    .img {
        position: relative;
        width: 100%;
        height: 200px;
        background: $white;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.6s;
        }
    }

    .title {
        margin-top: 10px;
        font-weight: bold;
        transition: 0.6s;
    }

    &:hover {
        .title {
            color: $main;
        }

        .img {
            img {
                width: 110%;
                height: 110%;
                object-fit: cover;
            }
        }

        .playPlaylist {
            opacity: 1;
            bottom: 10%;
        }
    }


}