@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg;
    color: $white;
    padding-left: 50px;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: $white;
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    color: $white;
}