@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg;
    color: $white;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: $white;
}

button {
    outline: none;
    border: none;
    background: transparent;
}